
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permite la lectura a todo el mundo.
    match /{allPaths=**} {
      allow read;
    }

    // Permite la escritura (subida, actualización, eliminación) solo a usuarios autenticados.
    // Esto es una regla general. Para producción se debería restringir más,
    // por ejemplo, que un usuario solo pueda escribir en su propia carpeta.
    match /store-images/{userId}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /product-images/{storeId}/{allPaths=**} {
      allow write: if request.auth != null; // Simplificado para el prototipo
    }
  }
}
